/* this to stop the horizontal and vertical scroll */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this to stop the horizontal and vertical scroll */
body {
  overflow: hidden;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.black-bg {
  background-color: black;
}

.white-bg {
  background-color: white;
}

.logo {
  max-width: 200px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
