/* this to stop the horizontal and vertical scroll */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this to stop the horizontal and vertical scroll */

body {
  overflow: hidden;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.title-background {
  width: 100vw;
  height: 100vh;
}

.title-container {
  position: relative;
}

.pole {
  height: 100vh;
  position: absolute;
  left: 0.001em;
  z-index: 49;
}

.title-card {
  height: 90vh;
  position: absolute;
  right: 12em;
  z-index: 50;
}

.start {
  height: 100vh;
  position: absolute;
  right: 5em;
  z-index: 50;
}

.options {
  height: 100vh;
  position: absolute;
  right: 6em;
  z-index: 48;
}

.quit {
  height: 100vh;
  position: absolute;
  right: 5em;
  z-index: 50;
}

.titlecard-text {
  font-family: "Western Bang Bang", sans-serif;
  font-size: 10em;
  color: rgb(73, 40, 7);
  position: absolute;
  height: 100vh;
  z-index: 51;
  top: 0.6em;
  left: 2em;
}

.start-text {
  font-family: "Western Bang Bang", sans-serif;
  font-size: 5em;
  color: rgb(73, 40, 7);
  position: absolute;
  z-index: 51;
  height: 100vh;
  top: 5.8em;
  left: 5em;
}

.options-text {
  font-family: "Western Bang Bang", sans-serif;
  font-size: 5em;
  color: rgb(73, 40, 7);
  position: absolute;
  height: 100vh;
  z-index: 51;
  top: 7.1em;
  left: 5em;
}

.quit-text {
  font-family: "Western Bang Bang", sans-serif;
  font-size: 5em;
  color: rgb(73, 40, 7);
  position: absolute;
  z-index: 51;
  height: 100vh;
  top: 8em;
  left: 1.5em;
}

.black-bg {
  background-color: black;
}

.white-bg {
  background-color: white;
}

.logo {
  max-width: 400px;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Western Bang Bang";
  src: url("../public/fonts/WesternBangBang-Regular.ttf") format("truetype");
  /* Add additional formats if available */
  font-weight: normal;
  font-style: normal;
}
